.main {
  width: 100%;
  max-width: 360px;
  background-color: #202020;
  color: #b1d2db;
  height: 100%;
}
.nested {
  background-color:#202020 ;
  padding-left: 20px;
  
}

.icon {
  color: #b1d2db;
}

.iconb{
  color: #b1d2db;
  margin-left: 3em;
  margin-right: .5em;
}

.iconb :hover {
  color:#007621;
  font-size: 22px;
}
.a {
  color:#b1d2db;
  text-decoration: none;
  font-size: 22px;
}
.a :hover {
  color:#007621;
  text-decoration: none;
  font-size: 22px;
}

.b {
  color:#b1d2db;
  text-decoration: none;
  font-size: 22px;
  margin-left: 5em;
}
.b :hover {
  color:#007621;
  text-decoration: none;
  font-size: 22px;
  margin-left: 5em;
}

.toolbar {
background-color: #202020;
height: 85px;
border-style: #202020;
}

