
.plant-card {
  width: 80%;
  height: 300px;
  margin-left: 7%;
  display: flex;
  flex-direction: row;
  overflow: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.plant-container {
  width: 100%;
  padding: 2px 16px;
  padding-bottom: 10px;
}

h2 {
  color: #1c4a47;
}

.avatar {
  width: 30px;
  height: auto;
}

.strike {
  background-color: rgba(221, 221, 221, 0.842);
  text-decoration: line-through;
  opacity: 40%;
}

.plant-instructions {
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
  th,
  td {
    height: 50px;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    background: white;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    color: #007261;
  }
  tr:hover {
    background-color: #f5f5f5;
  }
}

.fa {
  :hover {
    color: green;
  }
}
