.weather-card {
  width: 1010px;
  height: auto;
  margin-top: 13%;
  padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.weather-container {
  width: 100%;
  padding: 2px 16px;
  padding-bottom: 10px;
}

.weather-hdr {
  font-size: 20px;
  font-weight: bold;
  color: #1c4a47;
  padding-top: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.centerCard {
  display: flex;
  justify-content: center;
}
.alert-heat {
  background-color: #fff6e8;
  // border: 1px solid #ffbe56;
  color: #a7844d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  padding: 10px 36px;
  margin: 10px;
  border-radius: 5px;
  span {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
.alert-frost {
  background-color: #e5f1ff;
  // border: 1px solid #d6e9ff;
  color: #5b93d3;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  padding: 10px 36px;
  margin: 10px;
  border-radius: 5px;
  span {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
.alert-rain {
  background-color: #ebffed;
  // border: 1px solid #68ff4e;
  color: #297432;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  padding: 10px 36px;
  margin: 10px;
  border-radius: 5px;
  span {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}