.weatherCard {
  display: flex;
  justify-content: center;
  margin: 5px;
  min-width: 150px;
  max-width: 150px;
  width: 150px;
  min-height: 220px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Nunito';
  font-weight: lighter;
}

.weatherName {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center
}

.weatherIcon {
  margin: 10px
}